.btn {
  margin-right: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  color: white;
  font-size: 14px;
  &-danger {
    border: 2px solid #D23333;
    background-color: #D23333;
  }
  &-primary {
    border: 2px solid #44b6f1;
    background-color: #44b6f1;
  }
  &-success {
    border: 2px solid #a8a8a8;
    background-color: #a8a8a8;
  }
}
.bread-crumb {
  background-color: #f7f7fa;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  h3 {
    margin: 0;
  }
}
a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}