.edit-bucket {
  table {
    border: 1px solid #ddd;
    thead {
      tr {
        th {
          font-weight: normal;
          background-color: #FCFCFC;
          border-bottom: 1px solid #ddd;
        }
      }
    }
    tbody {
      tr {
        td {
          font-weight: normal;
          padding: 1px;
          border-top: none;
          .form-control {
            border-radius: 0;
            font-size: 14px;
            border: 1px solid #ddd;
            -webkit-box-shadow: none;
            box-shadow: none;
            &:focus,
            &:active {
              border: 1px solid #5298FA;
            }
            &:hover {
              background-color: #f7f7fa;
            }
          }
          .close {
            margin-bottom: -24px;
            margin-right: 4px;
            font-size: 16px
          }
        }
      }
    }
  }
  .sub-buckets-index {
    padding: 15px;
    border: 1px solid #ddd;
    .sub-bucket-nav-link {
      &:focus {
        outline: none;
      }
    }
    .sub-bucket-active {
      font-weight: bold;
    }
  }
  .edit-sub-bucket {
    display: none;
    .tab-content {
      padding: 15px;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      .tab-pane {
        .other-bucket-schemas {
          padding-bottom: 20px;
        }
        .cross-languages-bucket-schemas {
          border-top: 1px solid #ddd;
        }
        .x-lang {
          font-size: 20px;
          margin-top: -22px;
          span {
            padding: 0 15px;
            font-size: 28px;
            font-family: "Raleway";
            background-color: white;
          }
        }
        .form-control {
          border-radius: 0;
          font-size: 14px;
          border: 1px solid #ddd;
          -webkit-box-shadow: none;
          box-shadow: none;
          &:focus,
          &:active {
            border: 1px solid #5298FA;
          }
          &:hover {
            background-color: #f7f7fa;
          }
        }
      }
    }
  }
}
.new-bucket,
.edit-bucket,
.buckets,
.new-sub-bucket,
.new-bucket-schema {
  margin-top: 30px;
}
.buckets {
  margin-top: 30px;
}