<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @companies.each do |company| %>
        <%= link_to company.company_name, company_projects_path(company) %>
      <% end %>
    </div>
  </div>
</div>