<div class="container-fluid">
  <div class="row">
    <div class="bread-crumb">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3><%= link_to "Companies", companies_path %> > <%= @company.company_name %> > Projects</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="projects">
        <ul class="list-unstyled">
          <% current_user.projects.where(company: @company).each do |project| %>
            <li>
              <%= link_to project.project_name, project_path(project) %>
            </li>
          <% end %>
        </ul>
        <%= link_to "Add a project", new_company_project_path(@company), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>