<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><%= @project.company.company_name %></h3>
      <h4><%= @project.project_name %></h4>
    </div>
    <div class="col-xs-12">
      <% if @project.buckets.size > 0 %>
        <ul class="list-unstyled">
          <% @project.buckets.each do |bucket| %>
            <li>
              <%= link_to bucket.bucket_name, edit_bucket_path(bucket) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No bucket yet</p>
      <% end %>
    </div>
    <div class="col-xs-12">
      <%= link_to "Create bucket", new_project_bucket_path %>
    </div>
  </div>
</div>